<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/style/css.css">
    
    <title>Eshetu Wekjira >>Project1</title>
</head>
<body>
    <header>
        <ul class="bar">
            <li id="logo"><a href="/"><img src="/images/Game Cenral-logos .jpeg" class="logo" alt="logos"></a></li>
            <li> <a href="/events/new">CreateNewGames</a></li>
            <li><a href="/sign">Sign Up/Login</a></li>
            <li><a href="/search">Search</a></li>
        </ul>
        <hr>
        <nav>
            <a href="/events">Top Games</a>
           
        </nav>
    </header>