<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" ></script>
	<!-- Bootstrap theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	
	<link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/style/css.css">
   
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<title>How to create Firebase login and register?</title>
</head>
<header>
    <ul class="bar">
        <li id="logo"><a href="/"><img src="/images/Game Cenral-logos .jpeg" class="logo" alt="logos"></a></li>
        <li> <a href="/events/new">NewEvent</a></li>
        <li><a href="/sign">Sign Up/Login</a></li>
        <li><a href="/search">Search</a></li>
    </ul>
    <hr>
    <nav>
        <a href="/events">Top Games</a>
       
    </nav>
</header>