@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Slab:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
  }

body {
    background-color: whitesmoke;
    min-height: 100vh;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    /* min-height: 100vh; */
    display: grid;
    grid-template-rows: auto 1fr auto;
}
header {
    background-color: #0d6743;
    padding-bottom: 6px;
}
hr {
    height: 2px;
    width:fit-content;
}

.logo {
    padding-bottom: 10px;
    width: 250px;
    height: 125px;
}

a .logo {
    float: left;
}

.bar {
    list-style: none;
    display: flex;
}
ul li a {
    text-decoration: none;
    justify-content: space-between;
    padding: 0 0.8em;
    color: aliceblue;
}

.event{
    /* display: inline; */
    line-height: 0em;
    margin-top: -50px;
    /* margin-left: 400px; */
}

.events{
    display: inline;
    line-height: 0em;
    margin-top: -50px;
    margin-left: 400px;
}
#li{
   display: inline-block;
}

#h2{
    margin-left: 350px;
}
#mains{
    text-align: center;
    margin-left: 500px;
}

ol  li a {
    /* display: inline-block; */
    line-height: 0em;
    /* margin-top: -30px; */
}


#logo {
    padding-top: 15px;
    margin-right: 30px;
    margin-right: auto;
}
ul li {
    padding-top: 70px;
    margin-right: 30px;
}
nav a {
    margin-left: 30px;
    text-decoration: none;
    justify-content: space-between;
    padding: 0 0.8em;
    color: aliceblue;
    padding-bottom: 3px;
}
main{
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 30px;
    padding-left:20px;
    /* height: 90vh; */
    font-size: 18px;
}

.content {
    padding-left: 3rem;
    padding-top: 1rem;
  }
/* footer nav {
    background-color: #0d6743;
    padding: 16px 20px;
    color: aliceblue;

} */
.event li a {
    color: black;
    padding-left: 0px;
    text-decoration: none;

}
.events li a {
    color: black;
    padding-left: 0px;
    text-decoration: none;
    

}

a{
 text-decoration: none;
 color: grey;
}
#img{
    height: 25px;
    width: 25px;
    background-color: #21d78e;
}
#delete{
    height: 25px;
    width: 25px;
}
#edit{
    background-color:  #21d78e;
}
.event {
    list-style: none;
    display: inline-block;
}
.event li {
    line-height: 2em;

}
.events {
    list-style: none;
}
.events li {
    line-height: 2em;

}
.fa-facebook {
    background-color: #3B5998;
    font-size: 22px;
    /* height: 20px; */
    text-align: center;
    border-radius: 50%;
    line-height: 22px;
    float: right;
    
    align-self: self-end;
    color: white;
    margin-right: 30px;
    /* display: inline-block; */
    grid-template-rows: auto 1fr auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;

}
.fa-linkedin {
    float: right;
    /* align-self: end; */
    /* width: 12px;
    height: 22px; */
    border-radius: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background: #007bb5;
    grid-template-rows: auto 1fr auto;
    color: white;
}

.material-symbols-outlined {
    margin-left: 40px;
    background-color: rgb(217, 21, 21);
}

#id {
    background-color: #21d78e;
}

footer p {
    text-align: center;
}

.container {
    display: flex;

    justify-content: left;

}
.text {
    font-size: 20px;
    padding-left: 20px;
}
figcaption {
    font-style: italic;
}
form {
    width: 80%;
    text-align: justify;
}
label {
    width: 100px;
    display: inline-block;
}
input[type=text], input[type=file],
input[type=datetime-local],input[ type=number],
input[ type=email],
input[ type=password],
select {
    background-color: lightgrey;
    width: 90%;
    display: inline-block;
    padding: 12px;
    border-radius: 25px;
    color:whitesmoke;
    font-family: "Montserrat", sans-serif;
}
input[type=submit] {
    padding: 12px;
    background-color: rgb(69,69,69);
    margin-left: 105px;
    display: inline-block;
    width: 80%;
    color: white;
    grid-template-rows: auto 1fr auto;
    font-family: "Montserrat", sans-serif;
    border-radius: 25px;
}
#category {
    width: 80%;
}

#myFile {
    background-color: lightgrey;
    width: 80%;
    padding: 12px;
}

footer {
    color: white;
    background-color: rgb(0, 66, 30);
    text-align: center;
     /* margin-top: 550px; */
    padding: 1rem;
   }
   button{
    background-color: rgb(144, 173, 132);

   }

   #find{
    background-color:  white;
   }
   #findID{
    background-color:  lightgrey;
   }
   #ye{
    color: yellow;
   }

   
.success {
    background: rgba(108, 192, 112, 0.7);
    color: #fff;
    width: 70%;
    margin: 0 auto 1rem auto;
    text-align: center;
    padding: 0.5rem 0;
  
  }
  
  .error {
    background: rgba(255, 102, 51, 0.7);
    color: #fff;
    width: 70%;
    margin: 0 auto 1rem auto;
    text-align: center;
    padding: 0.5rem 0;
  }
  




button[type=submit]{
    margin-left: 20px;
 align-items: right;
}

/* .new-form {
    display: grid;
    grid-template-columns: 60px 250px;
    row-gap: 0.5rem;
  } */
 
  .new-form input[type="submit"], 
  .user-form input[type="submit"] {
    width: 80px;
    padding: 0.2em 0;
    grid-column: 2/3;
    justify-self: end;
  } 
  
  button {
    width: 85px;
    padding:  0.1em 0;
  }
/*   
  .user-form {
    display: grid;
    grid-template-columns: 110px 200px;
    row-gap: 0.5rem;
   
  } */
  


  
  .user-form {
    display: grid;
    grid-template-columns: 115px 600px;
    width: 80%;
    /* display: inline-block; */
    row-gap: 0.5rem;
    
  }

 #password , #email {

  width: 484px;
  }
  
  
 
/* 
  th,
  td{
  
      border: 1px solid #a28b2f;
      padding: .2em 1em .2em .5em;
      text-align: center;
     
  } */

  table, th, td, tr{

    border: 1px solid black;
    padding: .2em 1em .01em .5em;
    width: 90%; 
   
}

#title{
    text-align: left;
}

th{
    text-align: center;
}

#td {
    text-align:center;
   
}
td{
    font-family:bodonic MT;
    font-size: 26px;
}


button{
    background-color: rgb(144, 173, 132);

   }
   th
    {border:0px; }
 
  



 
  