<footer >
    <nav>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="#"> <em> copyright ©2023 game central </em></a>
        <!-- <a href="https://www.facebook.com/eshetu.teshome.798/" class="fa fa-facebook">f</a>
        <a href="https://www.linkedin.com/in/eshetuwekjira/" class="fa fa-linkedin">in</a> -->
    </nav>
</footer>

</body>
</html>