
<header>
    <h1 id="nav"> Game Central, Software Engineering Project</h1>
   <hr>
   <nav>
       <div class="nav-wrapper">
       <!-- <a href="#" id="logo"><img src="images/Game Cenral-logos.jpeg" class="logo" alt="logos"></a></li> -->
       <a href="../index.html">Home</a>
       <a href="/views/about.html">About</a>
       <!-- <a href="/views/register.html">Registration</a>
       <a href="/views/login.html">Login</a> -->
       <!-- <a href="/views/game.html">Game Site</a>
       <a href="/views/wishlist.html">Wishlist</a> -->
       </div>
   </nav>
</header>