<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <div data-include="components/header.html"></div>
    <main>
        <h2>Welcome to Game Central</h2>

        <p>Here at game central you can find any game easily with details that will help you find the next great game
            you want to play!</p>

        <h2>Our Company Mission</h2>
        <p>To simplify the process on locating games easily, through our system you can find games categorized by easy
            to understand tags to find the perfect match for you.</p>

        <p>To get started click register an account below.</p>

    </main>

    <div data-include="components/footer.html"></div>
    <script src="../scripts/HTMLInclude.js"></script>
</body>

</html>