<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software Engineering Project</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<header>
      <nav class="bar">
        <a href="#" id="logo"><img src="/images/Game Cenral-logos.jpeg" class="logo" alt="logos"></a></li>
        <h1> Eshetu Wekjira, Sotware Engineering Project</h1>
    </nav>
   
    <hr>
    <nav>
        <!-- <a href="#" id="logo"><img src="images/Game Cenral-logos.jpeg" class="logo" alt="logos"></a></li> -->
        <a href="#">About</a>
        <a href="#">contact</a>
    </nav>
</header>

<body>
    <Main>
        <h2>Welcome to Game Central HomePage </h2>

    <figure class="image">
        <a href="images/Steam-game.jpg"> <img src="images//Steam-game.jpg" alt="games" height="400" width="450"></a>
    </figure>
    </Main>
</body>
<footer>
    <nav>
        <a href="#">About</a>
        <a href="#">contact</a>
    </nav>
</footer>

</html>