<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Software Engineering Project</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <div data-include="components/header.html"></div>
    <Main>
        <h2>Welcome to Game Central HomePage </h2>

         
        <!-- <a href="#" id="logo"><img src="../images/Game Cenral-logos .jpeg" class="logo" alt="logos"></a></li> -->

    <figure id="image">
        <a href="../images/Game Cenral-logos .jpeg"> <img src="../images/Game Cenral-logos .jpeg" alt="games" height="400" width="450"></a>
    </figure>
    </Main>
    <div data-include="components/footer.html"></div>
     <script src="../scripts/HTMLInclude.js"></script>
     <nav>
        <!--Add other pages-->
        <a href="about.html">About</a> <span class="nav-spacing">||</span>
        <a href="register.html">Register</a> <span class="nav-spacing">||</span>
        <a href="login.html">Login</a> <span class="nav-spacing">||</span>
        <a href="survey_page.html">Personalized Survey</a> <span class="nav-spacing">||</span>
</body>
</html>