
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Registration</title>
    
</head>

<body>
    <div data-include="components/header.html"></div>
    <main>

        <h2>Registration from</h2>
        <div class="alert">Your form has been sent</div>
        <!-- <form action=”/” method = "POST"> -->
            <form id="contactForm">
           <label>Name</label>
            <input type="text" id="name" name= "name" placeholder="Name" required><br>
            <label>Email Address</label>
            <input type="email" id="email" name = "email" placeholder="Email" required><br>
            <label>Password</label>
            <input type="text" id="password" name = "password" placeholder="Password" required><br>
            <label>Phone Number</label>
            <input type="text" name="phone" id="phone">
            <!-- <input type="button" class= "btn" value="Register"> -->
            <button type="submit"> Submit</button>
        </form>
        
    </main>
    <div data-include="components/footer.html"></div>
    <script src="../scripts/HTMLInclude.js"></script>   
    <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
    <script src="main.js"></script>
   
</body>


</html>