<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Page</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>

    <div data-include="components/header.html"></div>
    <main>
        <h2>
            <h2> Welcome to the Survey Page! </h2>
            <h3> Click the link below to access the survey!! </h3>
            <a
                href="https://docs.google.com/forms/d/e/1FAIpQLSdXGJBrO_-mV0scHg7jSQc5q8SD9kFnhLRZz0xGv1tKqzofwg/viewform?usp=sf_link">
                <button> Survey </button>
    </main>
    <div data-include="components/footer.html"></div>
 <script src="../scripts/HTMLInclude.js"></script>
</body>


</html>