<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" ></script>
	<!-- Bootstrap theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/style/css.css">
    <link rel="stylesheet" href="../../public/styles/header.css">

    
    <title>Software Project</title>
</head>
<body class = "headnav">
    <header>
        <a href="/"><img src="/images/gameCentralupdate.png" class="logos"></a>
        <ul class="nav_link">
            
            <li> <a href="/events/new">Add Wishlist Games</a></li>
            <li><a href="/search">Survey</a></li>
            <%if(!user){%>
            <li><a href='/users/new'>Sign Up</a> </li>
            <li><a href='/users/login'>Login</a></li> 
            <% }else{%>
            <li> <a href='/users/profile'> <%=user.firstName%> Profile</a></li> 
           <li><a href='/users/logout'>Logout</a></li> 
           <% }%>
        </ul>
        <nav>
            <a href="/events"><button >All Games</button></a>  
    <%if(errorMessages.length>0){
        errorMessages.forEach(message=>{%>
            <div class="error"><%= message%></div>
       <% });
    }%>

    <%if(successMessages.length>0){
        successMessages.forEach(message=>{%>
            <div class="success"><%= message%></div>
       <% });
    }%>
        </nav>
    </header>
