<!DOCTYPE html>
<html>
<head>
	<title>My Wishlist</title>
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
    <script src="../scripts/script.js"></script>
</head>
<body>
    <div data-include="components/header.html"></div>
	<h1>My Wishlist</h1>
	<div id="wishlist-container">
		<ul id="wishlist-items">
			<!-- Wishlist items will be dynamically added here using JavaScript -->
		</ul>
		<div id="add-item-form">
			<h2>Add an item</h2>
			<input type="text" id="item-name" placeholder="Item name">
			<button id="add-item-button">Add</button>
		</div>
	</div>
	<div data-include="components/footer.html"></div>
     <script src="../scripts/HTMLInclude.js"></script>
</body>
</html>
