
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

p{
  color: black;
  padding:0;
}
.homepageclass{
  padding-left: 25px;
  width:500px;
  height:300px;
}
* {
    box-sizing: border-box;

padding: 5px;
font-family: "Montserrat", sans-serif;
}
.headnav{
  box-sizing: border-box;

  margin:0;
  padding: 0;

  background-color: #333333;

}

.headnav li, .headnav a, .headnav button{
  font-family: "Montserrat", sans-serif;

  font-weight: 500;
  font-size: 16px;
  color:#ecf0f1;
  text-decoration: none;
}

.headnav header{
  display: flex;

  justify-content: space-between;

  align-items: center;
  padding: 15px;
}

.headnav .logos{
  cursor :pointer;
}

.headnav .nav_link{
  list-style: none;
}
.nav_link li{
  display: inline-block;
  padding: 0px 10px;

}
.nav_link li a{
  transition: all 0.3s ease 0s;
  font-size: 19px;
}
.nav_link li a:hover{
  color: lightgrey;
  text-decoration: none;
}
.buttons button{
  text-align: center;
}
.buttons{
  text-align: center;
  
}






.headnav button{
  padding:10px;
  background-color: rgba(69, 69, 69, 1.0);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-align: center;
  vertical-align: middle;
}
.headnav button:hover{
  background-color: rgba(69,69,69,0.8);
}
#mains{
  text-align: center;
  margin: 200px;
}
#enterDetails {float: left; width: 50%; height:100%; background-color: darkslategray; color:floralwhite;}
button#find{
  background-color: rgba(69, 69, 69, 1.0);
}
#findDetails {float: left; height:100%; width: 50%; background-color: floralwhite; color: darkslategray;}
input {width: 120px;}
nav {
    padding: 1rem;
    color: white;
    background-color:black;
    display: inline-block;
    list-style: none;
    display: flex;
    gap: 1rem;
    }
   header{
    color: white;
    background-color: black;
    padding-top:10px;
   }
   hr{
    margin-top: 10px;
   }
.logo {

    width: 250px;
    height: 125px;
}

.headnav li{
  display: inline-block;
}
.nav-wrapper {
    display: flex;
    gap: 1rem;
  }
#logo {
    padding-top: 15px; 
    margin-right: 30px;
    margin-right: auto;
    float: left;
}
 nav a {
    justify-content: space-between;
    text-decoration: none;
    padding: 0.4em;
    color: white;  
    font-size: 1.2rem;
}

a{
    text-decoration: none;
}
a:hover{
  text-decoration: none;
  color:#79c879;
}







.separator{
  color: black;
  background-color: black;
  border-radius: 0%;
  width: 97%;

}

main {
    margin-left: 100px;
    margin-right: 100px;

    background-color:#EFEFEF ;
}
.alert{
    text-align: center;
    padding:10px;
    background:#79c879;
    color:#fff;
    margin-bottom:10px;
    display:none;
  }
/* h1,h2,h3 {
    text-align: center;
} */


   footer {
    color: white;
    background-color: black;
    text-align: centerblack
    
    
   } 
  .container{
    margin-bottom: 350px;
  }
 #log{
  float: right;
 }

 input[type=text], input[type=file],
 input[type=datetime-local],input[ type=number],
 select 
 {
    background-color: grey;
    width: 80%;
    display: inline-block;
    padding: 12px;
    border: 0px;
}