
<%- include('./partial/signHeader.ejs')%>
<main>
    <h2>Wellcome to Game Central Homepage</h2>
    <p>"Lunch and learns" are voluntary meetings, training sessions, or presentations that take place during lunch,
        and where food is provided by the employer. They bring together people from across your organization in an
        informal atmosphere to collaborate and learn,
        and can drive personal, team and business development.</p>
</main>
    <%- include('./partial/footer.ejs')%>