* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D7CEC7;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;

  }

  h3, h4, p {
    margin-bottom: 1rem;
  }

nav {
  padding: 1rem;
  color: white;
  background-color: rgb(0, 66, 30);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav-wrapper {
  display: flex;
  gap: 1rem;
}

nav h2{
  align-self: end;
}


nav a{
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
 
 }

.content {
    padding-left: 1rem;
    padding-top: 1rem;
  }

.content a{
  text-decoration: none;
  color: grey;
}

footer {
    color: white;
    background-color: rgb(0, 66, 30);
    text-align: center;
    padding: 1rem;
}

#story{
 width: 50%;
 margin: 1rem 0;
}


input, textarea, button{
  font: inherit;
}

.new-form {
  display: grid;
  grid-template-columns: 60px 250px;
  row-gap: 0.5rem;
}

.new-form input[type="submit"],
.user-form input[type="submit"] {
  width: 70px;
  padding: 0.2em 0;
  grid-column: 2/3;
  justify-self: end;
}

button {
  width: 60px;
  padding:  0.1em 0;
}

.user-form {
  display: grid;
  grid-template-columns: 110px 200px;
  row-gap: 0.5rem;
}


.success {
  background: rgba(108, 192, 112, 0.7);
  color: #fff;
  width: 70%;
  margin: 0 auto 1rem auto;
  text-align: center;
  padding: 0.5rem 0;

}

.error {
  background: rgba(255, 102, 51, 0.7);
  color: #fff;
  width: 70%;
  margin: 0 auto 1rem auto;
  text-align: center;
  padding: 0.5rem 0;
}



