


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
   
  text-align: center;
  grid-template-rows: auto 1fr auto;
  background-color: darkgrey;
}
#enterDetails {float: left; width: 50%;  background-color: darkslategray; color: floralwhite;}
#findDetails {float: left; width: 50%; background-color: floralwhite; color: darkslategray;}
input {width: 120px;}
nav {
    padding: 1rem;
    color: white;
    background-color: rgb(0, 66, 30);
    display: inline;
    list-style: none;
    display: flex;
    gap: 1rem;
    }
   header{
    color: white;
    background-color: rgb(0, 66, 30);
    padding-top:10px;
   }
   hr{
    margin-top: 10px;
   }
.logo {

    width: 250px;
    height: 125px;
}


.nav-wrapper {
    display: flex;
    gap: 1rem;
  }
#logo {
    padding-top: 15px; 
    margin-right: 30px;
    margin-right: auto;
    float: left;
}
 nav a {
    justify-content: space-between;
    text-decoration: none;
    padding: 0.4em;
    color: white;  
    font-size: 1.2rem;
}

a{
    text-decoration: none;
}


main {
    margin-left: 100px;
    margin-right: 100px;
}
.alert{
    text-align: center;
    padding:10px;
    background:#79c879;
    color:#fff;
    margin-bottom:10px;
    display:none;
  }
h1,h2,h3 {
    text-align: center;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
   
   }

   footer {
    color: white;
    background-color: rgb(0, 66, 30);
    text-align: center;
     margin-top: 550px;
    padding: 1rem;
   }
  
  .container{
    margin-bottom: 180px;
  }