@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Slab:wght@200&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    /* background: rgb(195,182,34);
    background: linear-gradient(0deg, rgba(195,182,34,1) 0%, rgba(34,193,195,1) 100%); */
    background-color: #D7CEC7;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Playfair Display', serif;
}

/* header {
    background-color: rgba(34,193,195,1);
    padding: 2em;
    text-align: center;
    color: white;
} */
nav {
    padding: 1rem;
    color: white;
    background-color: rgb(0, 66, 30);
    /* display: flex;
    flex-direction: column; */
    gap: 1rem;
  }
.logo {

    width: 250px;
    height: 125px;
}

nav {
    list-style: none;
    display: flex;
}
.bar h1 {
    padding-top: 25px;
    margin-right: 300px;
}
#logo {
    /* padding-top: 15px; */
    margin-right: 30px;
    margin-right: auto;
    float: left;
}
header nav a {
    justify-content: space-between;
    display: inline-block;
    text-decoration: none;
    padding: 0.4em;
    margin-left: 10px;
    color: white;
}
main {
    margin-left: 10px;
}
h1,h2,h3 {
    text-align: center;
}
footer {
    background-color: #0d6743;
    text-align: center;
    padding: 16px 20px;
    padding: 2em;
}
/* footer nav a {
    justify-content: space-between;
    display: inline-block;
    text-decoration: none;
    padding: 0.4em;
    color: white;
    margin-left: 10px;
} */

footer {
    color: white;
    background-color: rgb(0, 66, 30);
    text-align: center;
    padding: 1rem;
}
.image{
    text-align: center;
}
button {
    background-color: #0d6743;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

