
<%- include('./partial/header.ejs')%>
<main>
    
        <h2>Welcome to Game Central</h2>
        <p>Here at game central we are here to help aid you in finding the next game that you want to play!</p>
        <h2>Our Company Mission</h2>
        <p>To simplify the process on locating games easily, through our system you can find games categorized by easy
            to understand tags to find the perfect match for you.</p>
</main>
    <%- include('./partial/footer.ejs')%>