
<%- include('./partial/header.ejs')%>
<main>
    <h2>Contact Us</h2>
   <p>Address: 10122 Big Laurel Ave Charlotte, NC, 28268</p>
   <p>Phone: 704 (488) 8565</p>
</main>
    <%- include('./partial/footer.ejs')%>