<%- include('./partial/header.ejs')%>
  
    <div class = "content">
        <h3><%= error.status%> Error</h3> 
        <p><%= error.message%> </p>
    </div>
    <%- include('./partial/footer.ejs')%>