
<%- include('./partial/header.ejs')%>
<main>
    <h2>Welcome to Game Central Homepage</h2>
    <div class = "homepageclass">
    <p>Feel free to browse around to see what we have to offer before signing up!</p>
    <p>But to get the best experience out of page, register/login in the top right corner!</p>
    <p>To find out more about our company click the about or info link in the bottom left section!</p>
</div>
</main>
    <%- include('./partial/footer.ejs')%>